*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.content-container{
  max-width: 70%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  grid-gap:10px;
}

.search-bar{
  box-sizing: border-box;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  border: 1px solid rgba(128, 128, 128, 0.623);
  color: dimgray;
  border-radius: 20px;
}

*:focus{
  outline: none;
}

::placeholder{
  color: rgba(121, 121, 121, 0.384);
}

.search-btn{
  float: right;
  margin-top: 10px;
  color: white;
  font-size: 1em;
  padding: 10px 30px;
  background-color: #222f3e;
  border-radius: 25px;
}

.search-btn:hover{
  cursor: pointer;
}

.card {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: auto;
  justify-content: center;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

/* cell phone size */
@media only screen and (max-width: 768px){
  input, button{
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .content-container{
    max-width: 90%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 600px){
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media only screen and (min-width: 768px){
  .cards { grid-template-columns: repeat(4, 1fr); }
}

@media only screen and (min-width: 992px){
  .cards { grid-template-columns: repeat(5, 1fr); }
}

@media only screen and (min-width: 1200px){
  .cards { grid-template-columns: repeat(6, 1fr); }
}

